<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
    {% if success %}
    <h2>Book added successfully!</h2>
  {% elif success==False %}
    <h2>Book not added, please try again!</h2>
  {% endif %}
  <form action="/add_book" method="POST">

      <label for="isbn">ISBN:</label>
      <input type="number" id="isbn" name="isbn" ><br><br>

      <label for="title">Book Title:</label>
      <input type="text" id="title" name="title" required><br><br>

      <label for="year">Publication Year:</label>
      <input type="number" id="year" name="year" required><br><br>

      <label for="author">Author:</label>
      <input type="text" id="author" name="author" required><br><br>

      <input type="submit" value="Add Book">
  </form>

  </body>
</html>
