<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Online Library</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <header>
        <h1>📚 My Online Library</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="/add_author">➕ Add Author</a></li>
                <li><a href="/add_book">📖 Add Book</a></li>
                <li><a href="/get_ai_recommendation">🤖 AI Recommendation</a></li>
            </ul>
            <div class="actions">
                <form action="/" method="POST">
                    <label for="options">Sort by:</label>
                    <select id="options" name="options">
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                        <option value="year">Year</option>
                        <option value="rating">Rating</option>
                    </select>
                    <label for="descending">Descending:</label>
                    <input type="checkbox" id="descending" name="descending" value="descending">
                    <input type="submit" value="Sort">
                </form>

                <form class="search" action="/search" method="POST">
                    <input type="text" id="search" name="search" placeholder="🔍 Search books...">
                    <input type="submit" value="Search">
                </form>
            </div>
        </nav>
    </header>

    <main>
        <section class="books">
            {% if error %}
                <h2 class="error">⚠️ No Books Found!</h2>
            {% elif success %}
                <h2 class="success">✅ Book added successfully!</h2>
            {% elif success == False %}
                <h2 class="error">❌ Failed to add book!</h2>
            {% endif %}
            {% if rated %}
                <h2 class="success">✅ Book rated successfully!</h2>
            {% endif %}

            {% if deleted %}
                <h2 class="success">✅ Book deleted successfully!</h2>
            {% elif deleted == False %}
                <h2 class="error">❌ Failed to delete book!</h2>
            % if auth_deleted %}
                <h2 class="success">✅ Author deleted successfully!</h2>
            {% elif auth_deleted == False %}
                <h2 class="error">❌ Failed to delete author!</h2>
            {% endif %}

            <div class="book-grid">
                {% for book in books %}
                <div class="book-card">
                    <h3>
                  <a href="/book/{{ book.id }}" class="book-link">{{ book.title }} </a>
                        <a href="/author/{{ book.author_id }}" class="author-link">
                            <span>by {{ book.name }}</span></a></h3>
                    {% if auth_confirmation == book.author_id %}
                        <form action="/author/{{ book.author_id }}/delete"
                              method="POST">
                            <p>Are you sure you want to delete all books by
                                this author and the author itself?
                            </p>
                            <button type="submit" name="confirmation" value="yes">Yes</button>
                            <button type="submit" name="confirmation" value="no">No</button>
                        </form>
                    {% else %}
                    <form action="/author/{{ book.author_id }}/delete" method="POST">
                        <button class="delete-btn" title="Delete Author" value="Delete">
                            🗑Delete Author</button>
                    </form>
                    {% endif %}
                    <p>📅 Year: {{ book.publication_year }}</p>
                    {% if book.isbn %}
                      <a href="https://openlibrary.org/isbn/{{ book.isbn }}" target="_blank">
                        <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg"
                             alt="Book Cover">
                      </a>
                    {% endif %}
                    <footer>
                        <form action="/book/rating/{{ book.id }}" method="POST">
                            <label for="rating">Rating:</label>
                            <input type="number" id="rating" name="rating" step="0.1" min="0.0"
                                   max="10.0" value="{{ book.rating }}" required>
                            <input type="submit" value="Rate">
                        </form>
                    </footer>
                    {% if book_confirmation == book.id %}
                        <form action="/book/{{ book.id }}/delete" method="POST">
                            <p>Are you sure you want to delete this book?</p>
                            <button type="submit" name="confirmation" value="yes">Yes</button>
                            <button type="submit" name="confirmation" value="no">No</button>
                        </form>
                    {% else %}
                        <form action="/book/{{ book.id }}/delete" method="POST">
                            <button class="delete-btn">🗑 Delete Book</button>
                        </form>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </section>
    </main>

</body>
</html>
